header {
  min-height: 205px;
  margin-top: 0px;
  padding: 0px;
  box-shadow: -5px 5px 0px 5px #567eaf,
    inset -3px 3px 0px 3px rgba(0, 0, 0, 0.25);
  background: linear-gradient(45deg, #333, #222, #111);
  animation: changeBackground 10s linear infinite alternate;
  position: relative;
}
.PokedexTitle {
  max-width: 276px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.pikachu-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
.pikachu-corriendo {
  width: 100px;
  border-radius: 50%;
  animation: correr 5s linear infinite; /* 5s es la duración de la animación */
  position: relative;
}
@keyframes correr {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
.headerContainer {
  position: relative; /* Posición relativa para que la imagen absoluta se base en este contenedor */
  width: 100%; /* O el ancho deseado */
  height: 100%; /* O la altura deseada */
}
.palabras-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: stretch;
  bottom: -18px;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-inline-end: 0;
}
.sign-login {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  position: absolute;
  left: -6px;
}
.log-in {
  background-color: #376e5f; /* Verde */
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: cambioColor 5s infinite;
}
.log-in:hover {
  background-color: #38513a; /* Verde más oscuro al pasar el ratón */
}

.sign-up {
  background-color: #008cba; /* Azul */
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: -9px;
}

.sign-up:hover {
  background-color: #0d3f55; /* Azul más oscuro al pasar el ratón */
}

.logout{
  background-color: #34144d; /* Azul */
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: -9px;
}
.logout:hover {
  background-color: #112128; /* Azul más oscuro al pasar el ratón */
}
.palabra {
  margin-right: 10px;
  color: rgb(255, 255, 255); /* Espacio entre las palabras */
}