.searchBox {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
  height: 50px;
  border-radius: 40px;
  z-index: 1;
}
.d-flex {
  position: absolute;
  width: 19%;
  margin: 0;
  height: 100%;
}
.buttonContainer {
  width: 79%;
  margin: 10%;
  position: static;
}
.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 0;
  top: -1px;
  z-index: 2;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.search-icon {
  margin-right: 5px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

